table{
  width: 98.5vw;
}

.mat-paginator-outer-container.mat-paginator-container{
  justify-content: center !important;
}

.formulaire{
  text-align: center;
  width: 100vw
}

.formulaire form > div {
  margin-bottom: 2vh;
}
